<!DOCTYPE html>

<html>
    
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
<head>
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Rajeev. This uses weather stack app.</p>
        <img class="portrait" src="/img/me.jpg" alt="">        
    </div>
    
    
    {{>footer}}
</body>

</html>